#window {
  background-color: rgba(0, 0, 0, 0.5);
  color: #b6beca;
  font-family: LiberationSans Nerd Font;
  font-size: 14px;
}

box#main {
  border: 2px solid #1f2328;
  background-color: #1f2328;
  /* @theme_bg_color;*/
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
}

label#match-title {
  font-size: 13px;
}

label#match-desc {
  font-size: 11px;
}

label#plugin {
  font-size: 13px;
}

entry#entry {
  border-radius: 0;
  background-color: #101419;
}
